.cat-content-imagecategories {
  margin-top: 40px;
  max-width: 400px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: #1de0f9;
}

.cat-img {
  max-width: 100%;
  border-radius: 10px 10px 0 0;
}

.title {
  text-align: center;
  margin: auto;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #054677;
  font-weight: 600;
  padding: 8px;
}
