.titleNavBar {
  text-align: center;
  margin: auto;
  margin: 10px;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.link {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.navbar {
  background-color: #096090;
  margin: 0;
}
